*{
  font-family:Helvetica, sans-serif;
}

.btn.menu-btn {
  border-radius: 0;
  color: #00b0ef !important;
  background: #F2F0F1;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid #E6E4E5;
  text-align: left;
  padding-left: 30px; 
}

.td_courseyear {
  font-weight: bold;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.btnPrimary {
  background: #00A2ED;
  color: white;
  padding: 10px;
  border-radius:0; 
  font-size: 13px;
}
.btnPrimary:hover {
  background: rgb(1, 125, 182);
  color: white;
}

footer {
  border-top: 3px solid #c1c1c1;
  padding-top:10px; 
  font: 11px Arial, Helvetica, sans-serif !important;
}
table {      
  font: 14px Arial, Helvetica, sans-serif
}
h1 {
  margin-top: 10px; 
  color: #00b0ef;
  font: 16px Arial, Helvetica, sans-serif;
  border-bottom: 3px solid #dfdede;
  padding: 5px;
  font-weight: bold;
}
#divNumberDate {
  font-size: 13px;
}
.login-card img {
  width: 110px;
  margin: auto;
}
.login-card {
  margin: auto;
}

@media screen and (max-width: 767px) {
  .logo img {
    width: 100%;
  }
  .logo {
    width: 63%;
  }
  .btnPrimary {
    background: #00A2ED;
    color: white;
    font-size: 12px;
    border-radius: 0;
  }
  .table td.fit, 
  table th.fit {
    white-space: unset !important;
    width: unset !important;
  }
}